@charset 'utf-8';
:root {
  --transparent: transparent;
  --black: #000000;
  --white: #fff;
  --color_1: #23bfca;
  --color_2:#fbff00;
  --color_3: #154e5c;
  --color_4: #2b7588;
  --color_5: #21859e;
  --color_7: #b3b3b3;
  --color_8: #333;
}